<section class="catalog">
  <h3>燉煮類</h3>
  <article class="grid">
    <div class="catalog__item-new">
      <h4>最新</h4>
      <article>
        <ul class="grid">
          <li class="catalog__item">
            <a class="catalog__item_a" href="#">
              <article>
                <p class="item__heading">筑前煮</p>
                <p class="item__text">柔和口感暖你心</p>
              </article>
              <img
                src="/image/webp/stew/JapaneseChikuzen.webp"
                alt="JapaneseChikuzen"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">馬鈴薯燉肉</p>
                <p class="item__text">冬天暖身美食</p>
              </article>
              <img
                src="/image/webp/stew/JapanesePotatoStew.webp"
                alt="JapanesePotatoStew"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a"
              ><article>
                <p class="item__heading">日式煮漢堡排</p>
                <p class="item__text">醬煮肉嫩多汁</p>
              </article>
              <img
                src="/image/webp/stew/JapaneseStyleBurgerSteak.webp"
                alt="JapaneseStyleBurgerSteak"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">日式烏龍麵</p>
                <p class="item__text">一口湯麵管飽</p>
              </article>
              <img src="/image/webp/stew/JapaneseUdon.webp" alt="JapaneseUdon"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">日式溫泉蛋</p>
                <p class="item__text">蔥花醬油更好吃</p>
              </article>
              <img src="/image/webp/stew/Onsentamago.webp" alt="Onsentamago"
            /></a>
          </li>
        </ul>
      </article>
    </div>
    <div class="catalog__item-populer">
      <h4>熱門</h4>
      <article>
        <ul class="grid">
          <li class="catalog__item">
            <a class="catalog__item_a" href="#">
              <article>
                <p class="item__heading">照燒雞腿排</p>
                <p class="item__text">簡單滿足好料理</p>
              </article>
              <img
                src="/image/webp/stew/Teriyakichicken.webp"
                alt="Teriyakichicken"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a"
              ><article>
                <p class="item__heading">日式煮漢堡排</p>
                <p class="item__text">醬煮肉嫩多汁</p>
              </article>
              <img
                src="/image/webp/stew/JapaneseStyleBurgerSteak.webp"
                alt="JapaneseStyleBurgerSteak"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">壽喜燒</p>
                <p class="item__text">冬天暖身美食</p>
              </article>
              <img src="/image/webp/stew/Sukiyaki.webp" alt="Sukiyaki"
            /></a>
          </li>

          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">日式烏龍麵</p>
                <p class="item__text">一口湯麵管飽</p>
              </article>
              <img src="/image/webp/stew/JapaneseUdon.webp" alt="JapaneseUdon"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">日式溫泉蛋</p>
                <p class="item__text">蔥花醬油更好吃</p>
              </article>
              <img src="/image/webp/stew/Onsentamago.webp" alt="Onsentamago"
            /></a>
          </li>
        </ul>
      </article>
    </div>
  </article>
</section>
