<section class="catalog">
  <h3>炸物類</h3>
  <article class="grid">
    <div class="catalog__item-new">
      <h4>最新</h4>
      <article>
        <ul class="grid">
          <li class="catalog__item">
            <a class="catalog__item_a" href="#">
              <article>
                <p class="item__heading">可樂餅</p>
                <p class="item__text">酥脆可樂餅</p>
              </article>
              <img src="/image/webp/Croquettes.webp" alt="Croquettes"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">炸竹筴魚</p>
                <p class="item__text">不柴又好吃</p>
              </article>
              <img src="/image/webp/fied fish.webp" alt="fied fish"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a"
              ><article>
                <p class="item__heading">日式唐楊雞</p>
                <p class="item__text">外脆裡嫩肉多汁</p>
              </article>
              <img src="/image/webp/fried chicken.webp" alt="fried chicken"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">炸豬排</p>
                <p class="item__text">酥脆爽口不解釋</p>
              </article>
              <img src="/image/webp/fried pork.webp" alt="fried pork"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">炸蝦</p>
                <p class="item__text">清爽鮮蝦超好吃</p>
              </article>
              <img src="/image/webp/fried shrimps.webp" alt="fried shrimps"
            /></a>
          </li>
        </ul>
      </article>
    </div>
    <div class="catalog__item-populer">
      <h4>熱門</h4>
      <article>
        <ul class="grid">
          <li class="catalog__item">
            <a class="catalog__item_a" href="#">
              <article>
                <p class="item__heading">天婦羅</p>
                <p class="item__text">酥脆清爽健康</p>
              </article>
              <img src="/image/webp/tempura.webp" alt="tempura"
            /></a>
          </li>

          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">炸豬排</p>
                <p class="item__text">酥脆爽口不解釋</p>
              </article>
              <img src="/image/webp/fried pork.webp" alt="fried pork"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a"
              ><article>
                <p class="item__heading">日式唐楊雞</p>
                <p class="item__text">外脆裡嫩肉多汁</p>
              </article>
              <img src="/image/webp/fried chicken.webp" alt="fried chicken"
            /></a>
          </li>

          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">炸蝦</p>
                <p class="item__text">清爽鮮蝦超好吃</p>
              </article>
              <img src="/image/webp/fried shrimps.webp" alt="fried shrimps"
            /></a>
          </li>
          <li class="catalog__item">
            <a href="#" class="catalog__item_a">
              <article>
                <p class="item__heading">可樂餅</p>
                <p class="item__text">酥脆可樂餅</p>
              </article>
              <img src="/image/webp/Croquettes.webp" alt="Croquettes"
            /></a>
          </li>
        </ul>
      </article>
    </div>
  </article>
</section>
