<header>
    <nav class="navbar ">
      <a href="#">
        <img
          class="logo navbar__logo"
          src="/image/Let Him Cook-(黑色字體透明背景) - 複製.png"
          alt=""
        />
      </a>
  <div class="collapsible">
      <svg class="icon icon--white nav__toggler">
          <use xlink:href="/image/sprite.svg#menu" >
      </svg>
      <ul class="list collapsible__content">
        <li class="list__items"><a href="#">食譜分類</a></li>
        <li class="list__items"><a href="#">日食文化</a></li>
        <li class="list__items"><a href="#">活動參予</a></li>
        <li class="list__items"><a href="#">推薦廚具</a></li>
        <li class="list__items"><a href="#">關於我們</a></li>
      </ul>
  </div>
    </nav>
  </header>