<section class="slider-container container">
  <div class="image-container">
    <img class="image_slider" src="/image/webp/food1.webp" alt="image" />
    <img class="image_slider" src="/image/webp/food2.webp" alt="image" />
    <img class="image_slider" src="/image/webp/food3.webp" alt="image" />
    <img class="image_slider" src="/image/webp/food4.webp" alt="image" />
    <img class="image_slider" src="/image/webp/food5.webp" alt="image" />
  </div>
  <i class="fas fa-angle-double-left btn prev"></i>
  <i class="fas fa-angle-double-right btn next"></i>
</section>
